<!DOCTYPE html>
<html lang="vi">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Write</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='write.css') }}">
</head>

<body>
    <form action="/write" method="post" onsubmit="return submitForm()">

        <div class="container" contenteditable="true"></div>
        <input type="hidden" id="editableContent" name="content">
        
        <div class="center-content">
            <a href="/preview">Use our AI to improve your story</a>
        </div>
        <div class="center-content">
            <input type="submit" value="Send">
        </div>

    </form>

    <script>
        function submitForm() {
            var content = document.querySelector('.container').innerHTML;
            document.getElementById('editableContent').value = content;
            return true;
        }
        document.querySelector('.container').addEventListener('paste', function (e) {
            e.preventDefault();
            var paste = e.clipboardData.getData('text/plain');
            document.execCommand('insertText', false, paste);
        });
    </script>
</body>

</html>
